.container {
    position:relative;
    background-color:#0f161a;
    height:64px;
}
.header {
    margin:0 80px;
    position:relative;
}
.container section {
    height:inherit;
    position:relative;
}

.left {
    display:inline-block;
    margin-top:15px;
}
.logo {

}