.container {
    position:relative;
    background-color: #0f161a;
    height: 64px;
    margin-top:auto;
}
.header {
    margin: 0 80px;
    position: relative;
}
.container section {
    height:inherit;
    position:relative;
}